In [1]:
import yfinance as yf
import talib as ta
import pandas as pd
import matplotlib.pyplot as plt

In [14]:

tickers = yf.download("AAPL JPM GOOGL NFLX AMZN BA TSLA", period='5y')
tickers_close = tickers['Close'].dropna()
tickers_close.head()

[*********************100%***********************]  7 of 7 completed

,AAPL,AMZN,BA,GOOGL,JPM,NFLX,TSLA
Date,,,,,,,
2017-02-10,33.029999,827.460022,166.229996,834.849976,87.000000,144.820007,53.846001
2017-02-13,33.322498,836.530029,168.029999,838.960022,88.150002,143.199997,56.119999
2017-02-14,33.755001,836.390015,168.500000,840.030029,89.559998,140.820007,56.195999
2017-02-15,33.877499,842.700012,169.300003,837.320007,90.589996,142.270004,55.952000
2017-02-16,33.837502,844.140015,170.809998,842.169983,90.529999,142.009995,53.790001

In [33]:
def MA_trade(tickers_close):
     ma_short = ta.SMA(tickers_close['GOOGL'],15)
     ma_long = ta.SMA(tickers_close['GOOGL'],50)
     ma_sell = ((ma_short <= ma_long) & (ma_short.shift(1) >= ma_long.shift(1)))
     ma_buy = ((ma_short >= ma_long) & (ma_short.shift(1) <= ma_long.shift(1)))
     return ma_sell[-1],ma_buy[-1],ma_short[-1],ma_long[-1]

MA_trade(tickers_close)

(False, False, 2720.679345703125, 2818.6728076171876)

In [44]:
def RSI(tickers_close):
        rsi = ta.RSI(tickers_close['JPM'],15)
        rsi_sell = (rsi>70) & (rsi.shift(1)<=70)
        rsi_buy = (rsi<30) & (rsi.shift(1)>=30)
        return rsi_sell[-1],rsi_buy[-1], rsi[-1]
RSI(tickers_close)

(False, False, 54.414911597459216)

In [51]:
def one_percent(tickers_close):
    change = (tickers_close['GOOGL']/tickers_close['GOOGL'].shift(1))-1
    if abs(change) > .01:
        print(f' your stock change was {change} today')
    else:
        print(f' not much happened today')
one_percent(tickers_close)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().